<!DOCTYPE html>
<html lang="en">
<% include /partials/head %>
<body>
<% include /partials/nav %>
  <div class="jumbotron">
    <div class="container">
    <h1><%= errorMessage.Message %></h1>
        <p>This sample app is meant as a starting point and example for your NodeJS QuickBooks Online integrations. <br> <%= errorMessage.Detail %></p>
    </div>    
  </div>

</body>
</html>