<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>QBO Connect</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">

   <script>
    function launchPopup(path) {
      var win;
      var checkConnect;
      var parameters = "location=1,width=800,height=650";
      parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;
      // Launch Popup
      win = window.open(path, 'connectPopup', parameters);
    }

  </script> 
  <!---CDN Links-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  
</head>

<body class="container">
  <div class="jumbotron">
    <h1>Welcome to the QuickBooks Online NodeJS Sample Application</h1>
    <p>This sample app is meant as a starting point and example for your NodeJS QuickBooks Online integrations.</p>
  </div>


  <a class="imgLink" href="#" onclick="launchPopup('/requestToken')">
    <img
      style="height: 40px"
      src="images/C2QB_green_btn_lg_default.png"
      onmouseover="this.src='images/C2QB_green_btn_lg_hover.png'"
      onmouseout="this.src='images/C2QB_green_btn_lg_default.png'"
    />
  </a>

</body>

</html>
