<!DOCTYPE html>
<html lang="en">
<% include /partials/head %>
<body>
  <% include /partials/nav %>
  <div class="jumbotron">
    <div class="container">
    <h1>Inventory Report</h1>
        <p>This sample app is meant as a starting point and example for your NodeJS QuickBooks Online integrations.</p>
        
    </div>    
  </div>
  <div class="container center-block">
  <iframe width="900" height="400" frameborder="0" scrolling="no" src=<%= chartUrl %>></iframe>
  </div>
</body>
</html>