<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Item <%= item.FullyQualifiedName %></h1>
  <div>Quantity on hand <%= item.QtyOnHand %></div>
</body>
</html>