<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Create an Invoice</h1>
  <div><a href="/createInvoice?ItemId=13&ItemName=Rocks&CustomerId=24">Create an invoice for</a></div>
</body>
</html>